<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>User Index</title>
  <style>
    * {
      font-family: Helvetica, Arial, sans-serif;
    }

    div {
      display: flex;
      align-items: center;
      padding: 1em;
      font-size: 1.2em;
    }

    div a {
      padding-left: 0.5em;
    }
  </style>
</head>
<body>

  <h1>Handlebars</h1>
  {{#each users as |user|}}
  <div>
    <img src="/profilepics/{{user.username}}_sm.jpg" alt="">
    <a href="/{{user.username}}">{{user.name.full}}</a>
  </div>
  {{/each}}

</body>
</html>
